/* Centers everything in Index.html */
.container-fluid{
  
  padding-left: 0px;
  padding-right: 0px;
  margin:   0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* font color change to nav bar links */
a.nav-link{
  color: aliceblue;
}
/* Styling for big contianer holding all Nav Bar */
.NavBarContainer{
  margin:  0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-shadow: 4px 20px 50px 4px rgba(0,0,0,.2);
  background-color: #3a506b;
}
/* Font size of Nav Bar Links */
.NavEle{
  font-size: 3.2rem;
  
}
/* Spacing between navbar links */
.nav-link{
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-navbar-padding-y: 2rem;
}