/* Background of index.html */
body{
  background-color: #252422;
  color: #fffcf2;
}

.navbar-expand-xxl .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
  justify-content: space-between;
}

.NavBarContainer {
  background-image: url('../src/assets/banner3.png');
  background-color: #c65224;
}

.navbar-nav {
  position: relative;
  right: 225px;
}

.navbar-brand {
  color: #ccc5b9;
  position: relative;
  bottom: 70px;
}

.anime-page {
  background-color: #011627;
  padding-bottom: 100px;
  /* background-color: #192a51; */
  /* background-color: #0e1c36; */
  /* background-color: #293241; */
  
}

.signup {
  display: flex;
  justify-content: center;
}

.register {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: rgba(0,0,0,0.4);
}

.favorites {
  color: #f0f8ff;
  border: solid gold;
  background-color: rgba(85, 70, 10, 0.4);
  padding: 20px;
}

.post-border-game {
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 0 2pt #000;
  background-color: gray;
}

.post-border-anime {
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 0 2pt #000;
  background-color: #192a51;
}

.post_box_anime {
  color: aliceblue;
  border: solid black;
  margin: auto;
  max-width: 1000px;
  text-align: left;
  background-color: #192a51;
  padding: 20px;  
}

.post_box_anime .btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-bg: #2f4e98;
  --bs-btn-border-color: #264180;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #224189;
  --bs-btn-hover-border-color: #1b387b;
}

.user-image {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 50px;
}

.circle {
  border-radius: 50%;
  box-shadow: 0 0 0 2pt rgb(0, 0, 0);
  /* background-color: #403d39; <-- alternate icon color */
  background-color: #bc3908;
}

.logout, .logout:hover{
  font-size: 25px;
  color: rgba(0, 0, 0, .7);
}

.sign-in, .sign-in:hover {
  font-size: 40px;
  color: rgba(0, 0, 0, .7);
  position: relative;
  right: 50px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c62488;
  --bs-btn-border-color: #c62488;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d92795;
  --bs-btn-hover-border-color: #d92795;
}

.post_box .btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-bg: #bebebe;
  --bs-btn-border-color: #b6b6b6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #afafaf;
  --bs-btn-hover-border-color: #acacac;
}

.game-rating {
  padding-top: 10px;
}

.details {
  display: flex;
  flex-direction: row;
}

.details-card-game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0 0 0 2pt #000;
  background-color: #403d39;
  padding: 15px;
  margin: 5px;
}

.details-card-anime {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0 0 0 2pt #000;
  background-color: #293241;
  padding: 15px;
  margin: 5px;
}

.details-info {
  width: 75%;
  text-align: start;
  padding: 1rem;
}

.details-info h5{
  color: #e9c46a;
}

.teaser-game {
  width: 100%;
  max-width: 320px;
  min-height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0 2pt rgb(0, 0, 0);
  background-color: #403d39;
  padding: 15px;
  margin: 5px;
}

.teaser-anime {
  width: 100%;
  max-width: 320px;
  min-height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0 2pt rgb(0, 0, 0);
  background-color: #293241;
  padding: 15px;
  margin: 5px;
}

.teaser-game a , .teaser-game h4, .teaser-game h6{
  color:aliceblue;
  text-decoration: none !important;
}

.teaser-anime a , .teaser-anime h4, .teaser-anime h6{
  color:aliceblue;
  text-decoration: none !important;
}

.event-page {
  background-color: #331d00;
}

.post_box_event {
  color: aliceblue;
  border: solid black;
  margin: auto;
  max-width: 1000px;
  text-align: left;
  background-color: #4f4230;
  padding: 20px;  
}